<nav class="navbar">

  <div class="logo">
    EthnicWear
  </div>

  <div class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/designgallery">Gallery</a>
    <a routerLink="/customdesigner">Custom Designer</a>
    <a routerLink="/arpreview">AR Try-On</a>
    <a routerLink="/cart">Cart</a>
    <a routerLink="/checkout">Checkout</a>
    <a routerLink="/orderhistory">Orders</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/admin">Admin</a>
    <a routerLink="/login">Login</a>
  </div>

</nav>